In [15]:
import os 
import configparser
from sql_queries import create_table_queries, drop_table_queries

%load_ext sql
config = configparser.ConfigParser()
config.read('dwh.cfg')
    
conn_string="postgresql://{}:{}@{}:{}/{}".format(config.get("CLUSTER","DB_USER"), \
config.get("CLUSTER","DB_PASSWORD"),config.get("CLUSTER","HOST"), config.get("CLUSTER","DB_PORT"), config.get("CLUSTER","DB_NAME"))


print(conn_string)
%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
postgresql://dwhuser:password@dwhcluster.c7adgrhnzkpa.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [16]:
%sql select user_id, count(1) as my_count from users GROUP BY user_id HAVING my_count >1

 * postgresql://dwhuser:***@dwhcluster.c7adgrhnzkpa.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [17]:
%sql select song_id, count(1) as my_count from songs GROUP BY song_id HAVING my_count >1

 * postgresql://dwhuser:***@dwhcluster.c7adgrhnzkpa.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [18]:
%sql select artist_id, count(1) as my_count from artists GROUP BY artist_id HAVING my_count >1 LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.c7adgrhnzkpa.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('AR03BDP1187FB5B324', 2),
 ('AR040M31187B98CA41', 2),
 ('AR04S8J1187FB48358', 2),
 ('AR065TW1187FB4C3A5', 4),
 ('AR07SOR1187FB46179', 2),
 ('AR0CANF1187B9AF35F', 3),
 ('AR0CWOB1187B99FA08', 2),
 ('AR0DYTO1187FB4B6AE', 2),
 ('AR0IAWL1187B9A96D0', 2),
 ('AR0IU4L1187FB4CCB9', 2)]

In [21]:
%sql select * from artists where artist_id = 'AR0IU4L1187FB4CCB9'

 * postgresql://dwhuser:***@dwhcluster.c7adgrhnzkpa.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('AR0IU4L1187FB4CCB9', 'Atomic Kitten', 'Liverpool, England', 53.4098, -2.97848),
 ('AR0IU4L1187FB4CCB9', 'Atomic Kitten Featuring Kool & The Gang', 'Liverpool, England', 53.4098, -2.97848)]

In [23]:
%sql select start_time, count(1) as my_count from time GROUP BY start_time HAVING my_count >1

 * postgresql://dwhuser:***@dwhcluster.c7adgrhnzkpa.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [22]:
%sql select artist, song, length from library_by_sessionId WHERE sessionId = 338 and itemInSession = 4"

 * postgresql://dwhuser:***@dwhcluster.c7adgrhnzkpa.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.ProgrammingError) syntax error at or near ""select artist, song, length from library_by_sessionId WHERE sessionId = 338 and itemInSession = 4""
LINE 1: "select artist, song, length from library_by_sessionId WHERE...
        ^
 [SQL: '"select artist, song, length from library_by_sessionId WHERE sessionId = 338 and itemInSession = 4"']

In [ ]:
%sql  select artist, song, user from library_by_userId WHERE userid = 10 and sessionid = 182

In [ ]:
%sql select user from library_by_song WHERE song = 'All Hands Against His Own'